/* COLLECTION */



/* COLOR VARIABLES
----------------------------------------------- */
:root {
  --dark: #000000;
  --light1: #BBD6FF;
  --light2: #7A7359;
  --light3: #C68F02;
}




/* BASE STYLES
----------------------------------------------- */
* {
  border-right: 1px solid var(--dark);
}

body {
  background-image: url("images/Image6.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: ;
  color: var(--dark);
  margin: 0;
  padding: 0; 
  line-height: 1.3;
  font-size: 16px;
  display: grid;
  grid-template-columns: 10% 1fr;
}

img {
  max-width: fit;
}





/* TYPOGRAPHY
----------------------------------------------- */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--dark);
}

h1 {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  border-bottom: 1px solid var(--dark);
}


p {
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  

}



/* NAVIGATION
----------------------------------------------- */
header {
   border-right: 1px solid var(--dark);
}

nav {
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.02em;
  display: grid;
  grid-template-columns: 2fr;
  padding: 0.1px;
  border-right: 0px solid var(--dark);
  
}





/* MAIN
----------------------------------------------- */
main {

}

.object-image {
  max-width: 200%;
 
}

.object-a {
  background: var(--light1);

  

}

.object-b {
  background: var(--light2);

}

.object-c {
  background: var(--light3);

}

.index-a {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: right;
  color:whitesmoke
  


}


}
